body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.botoes1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.botoes2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.botao_pessoa {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}

.botao_pessoa:hover {
    background-color: #0056b3;
}

.botao_produto {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s ease;
}

.botao_produto:hover {
    background-color: #218838;
}

.btn-finalizar {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    transition: background-color 0.3s ease;
}

.total-geral {
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
}

.remover-btn{
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 13px;
    line-height: 1;
    cursor: pointer;
    margin-left: 8px;
    transition: background-color 0.3s ease;
}

.remover-btn:hover {
    background-color: #c82333;
}